@import url("components/avatar.css");
@import url("components/tabs.css");
@import url("components/profile_header.css");
@import url("components/list.css");
@import url("components/products.css");

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
h1, h2, h3 {
  font-family: Ubuntu, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.list-inline li {
  display: inline-block;
}
.list-inline {
  list-style: none;
}
i {
  padding: 0 20px;
}
